* {
    font-family: "helvetica neue";
    color: #111;
    font-size: 1.2em;
}

body {
    background-color: rgb(246,246,246);
}

span {
    margin-left: .1em;
}

#content {
    width: 720px;
    margin: 0 auto;
}

.head:hover {
    text-decoration: underline;
    cursor: pointer;
}

.head:active {
    color: red;
}