* {
    font-family: "helvetica neue";
    color: #111;
    font-size: 1.2em;
}

body {
    background-color: rgb(246,246,246);
}

ul {
    list-style-position:inside;
    margin: 0;
}
li {
    font-size: 0.6em;
}

#content {
    width: 680px;
    margin: 0 auto;
}

.project {
    margin-right: .3em;
}

.head:hover {
    text-decoration: underline;
    cursor: pointer;
}

.head:active {
    color: red;
}

.centered > * {
    display:block;
    margin: 0 auto;
}



